<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:mysql://192.168.2.4:3306/aon_gtm?autoReconnect=true</property>		
		<property name="connection.username">dbuser</property>		
		<property name="show_sql">true</property>		
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.password">serubd2000</property>		

		<!-- Mapping files -->
		<mapping class="com.code.aon.tasDelivery.TasDelivery"/>

		<mapping class="com.code.aon.warehouse.Delivery"/>
		<mapping class="com.code.aon.warehouse.DeliveryDetail"/>
		<mapping class="com.code.aon.warehouse.Warehouse"/>
		
		<mapping class="com.code.aon.tas.SupportOrder"/>
		<mapping class="com.code.aon.tas.TasItem"/>
		<mapping class="com.code.aon.tas.Model"/>
		<mapping class="com.code.aon.tas.Make"/>
		
		<mapping class="com.code.aon.sales.SalesDetail"/>
		<mapping class="com.code.aon.sales.Sales"/>
		<mapping class="com.code.aon.sales.Customer"/>
		<mapping class="com.code.aon.sales.SalesType"/>
		<mapping class="com.code.aon.sales.PointOfSale"/>
		<mapping class="com.code.aon.sales.Seller"/>
		
		<mapping class="com.code.aon.employee.Employee"/>
		
		<mapping class="com.code.aon.commercial.Target"/>
		
		<mapping class="com.code.aon.product.Item"/>
		<mapping class="com.code.aon.product.Product"/>
		<mapping class="com.code.aon.product.Brand"/>
		<mapping class="com.code.aon.product.Tax"/>
		<mapping class="com.code.aon.product.ProductCategory"/>
		<mapping class="com.code.aon.product.Tariff"/>
		
		<mapping class="com.code.aon.finance.PayMethod"/>
		
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		
		<mapping class="com.code.aon.geozone.GeoZone"/>
	</session-factory>

</hibernate-configuration>