<?xml version="1.0" encoding="ISO-8859-1"?>

<root key="com.aon.menu.title" descriptionKey="com.aon.menu.desc">

	<menu key="com.aon.menu.m2.label"
		descriptionKey="com.aon.menu.m2.desc" icon="icon1.gif">
		<option reference="show-menu2-opt1.do" icon="icon2.gif"
			key="com.aon.menu.m2.m1.label"
			descriptionKey="com.aon.menu.m2.m1.desc" />
		<option reference="show-menu2-opt2.do" icon="icon3.gif"
			key="com.aon.menu.m2.m2.label"
			descriptionKey="com.aon.menu.m2.m2.desc" />
		<option reference="www.google.com" 
			icon="icon3.gif"
			key="com.aon.menu.m2.m3.label"
			descriptionKey="com.aon.menu.m2.m3.desc" 
			external="true"
			contextRelative="false"
			target="_blank"
			/>
	</menu>
	<!-- 
		<menu key="com.aon.menu.m1.label">
		<option reference="show-menu1-opt1.do" key="com.aon.menu.m1.m1.label"/>
		<option reference="show-menu1-opt2.do" key="com.aon.menu.m1.m2.label"/>
		<menu key="com.aon.menu.m1.m3.label">
		<option reference="show-menu1-opt2.do" key="com.aon.menu.m1.m3.m2.label"/>
		<option reference="show-menu1-opt1.do" key="com.aon.menu.m1.m3.m1.label"/>
		<option reference="show-menu1-opt1.do" key="com.aon.menu.m1.m3.m3.label"/>
		<menu key="com.aon.m1.m3.m4.label">
		<option reference="show-menu1-opt1.do" key="com.aon.menu.m1.m3.m4.m1.label"/>
		<option reference="show-menu1-opt2.do" key="com.aon.menu.m1.m3.m4.m2.label"/>
		<option reference="show-menu1-opt1.do" key="com.aon.menu.m1.m3.m4.m3.label"/>
		</menu>
		<option reference="show-menu1-opt2.do" key="com.aon.menu.m1.m3.m5.label"/>
		<option reference="show-menu1-opt1.do" key="com.aon.menu.m1.m3.m6.label"/>
		<option reference="show-menu1-opt2.do" key="com.aon.menu.m1.m3.m7.label"/>
		</menu>
		</menu>
	-->
</root>
