<?xml version="1.0"?> 

<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
						http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>
           /WEB-INF/conf/faces/faces-config.xml
          ,/WEB-INF/conf/faces/faces-bean-config.xml
          ,/WEB-INF/conf/faces/faces-menu-config.xml          
          ,/WEB-INF/conf/faces/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/faces-renderkit-config.xml
          ,/WEB-INF/conf/faces/faces-converter-config.xml
          ,/WEB-INF/conf/faces/tas/faces-bean-config.xml
          ,/WEB-INF/conf/faces/tas/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/tas/faces-converter-config.xml
          ,/WEB-INF/conf/faces/product/faces-bean-config.xml
          ,/WEB-INF/conf/faces/product/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/product/faces-converter-config.xml
          ,/WEB-INF/conf/faces/purchase/faces-bean-config.xml
          ,/WEB-INF/conf/faces/purchase/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/sales/faces-bean-config.xml
          ,/WEB-INF/conf/faces/sales/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/sales-purchase/faces-bean-config.xml
          ,/WEB-INF/conf/faces/warehouse/faces-bean-config.xml
          ,/WEB-INF/conf/faces/warehouse/faces-converter-config.xml
          ,/WEB-INF/conf/faces/warehouse/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/commercial/faces-bean-config.xml
          ,/WEB-INF/conf/faces/commercial/faces-converter-config.xml
          ,/WEB-INF/conf/faces/commercial/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/registry/faces-bean-config.xml
          ,/WEB-INF/conf/faces/registry/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/security/faces-bean-config.xml
          ,/WEB-INF/conf/faces/security/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/appParams/faces-bean-config.xml
          ,/WEB-INF/conf/faces/appParams/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/finance/faces-bean-config.xml
          ,/WEB-INF/conf/faces/finance/faces-converter-config.xml
          ,/WEB-INF/conf/faces/finance/faces-navigation-config.xml
          ,/WEB-INF/conf/faces/account/faces-config.xml
        </param-value>
    </context-param>
<!-- 
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
 -->

    <context-param>
        <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
        <param-value>false</param-value>
    </context-param>

	<!-- Use Documents Saved as *.xhtml -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<!-- Setting this to true will cause the FaceletViewHandler to print out
		debug information in an easy to use screen when an error occurs during
		the rendering process.
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	 -->

	<!-- A semicolon (;) delimitted list of paths to Facelet tag libraries,
		relative to your application's root. These libraries will be loaded when
		the first request hits the FaceletViewHandler for page compilation. -->
	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/tomahawk.taglib.xml</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

    <context-param>
        <param-name>com.code.aon.report.config.file</param-name>
        <param-value>/WEB-INF/conf/report-config.xml</param-value>
    </context-param>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/facelet/error/JavaError.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/facelet/error/HttpError.jsp?errorCode=404</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/facelet/error/HttpError.jsp?errorCode=403</location>
	</error-page>

   <!-- Extensions Filter -->
	<filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
	    <init-param>
	        <param-name>maxFileSize</param-name>
	        <param-value>20m</param-value>
	    </init-param>
	</filter>

    <!-- Filter Mappings -->

	<!-- extension mapping for adding <script/>, <link/>, and other resource tags to JSF-pages  -->
	<filter-mapping>
	    <filter-name>MyFacesExtensionsFilter</filter-name>
	    <!-- servlet-name must match the name of your javax.faces.webapp.FacesServlet entry -->
	    <servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	
	<!-- extension mapping for serving page-independent resources (javascript, stylesheets, images, etc.)  -->
	<filter-mapping>
	    <filter-name>MyFacesExtensionsFilter</filter-name>
	    <url-pattern>/faces/*</url-pattern>
	</filter-mapping>

  	<!-- Listener, that does all the startup work (configuration, init). -->
	<listener>
		<listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener
		</listener-class>
	</listener>
	
	<!-- Bean Loader Listener -->
    <listener>
       <listener-class>
           com.code.aon.ui.common.listener.BeanRegisterContextListener
       </listener-class>
    </listener>
    
	<listener>
		<listener-class>com.code.aon.ui.gtm.servlet.InitHibernate</listener-class>
	</listener>
    
    <context-param>
       <param-name>config-file</param-name>
       <param-value>/WEB-INF/conf/bean_config.xml</param-value>
    </context-param> 

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Lookup Servlet -->
	<servlet>
		<servlet-name>LookupServlet</servlet-name>
		<servlet-class>com.code.aon.ui.common.lookup.LookupServlet</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>CustomerLookupServlet</servlet-name>
		<servlet-class>com.code.aon.ui.sales.servlet.CustomerLookupServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SupplierLookupServlet</servlet-name>
		<servlet-class>com.code.aon.ui.purchase.servlet.SupplierLookupServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SupportOrderLookupServlet</servlet-name>
		<servlet-class>com.code.aon.ui.tas.servlet.SupportOrderLookupServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TargetLookupServlet</servlet-name>
		<servlet-class>com.code.aon.ui.tas.servlet.TargetLookupServlet</servlet-class>
	</servlet>
     
	<servlet>
		<servlet-name>TasItemLookupServlet</servlet-name>
		<servlet-class>com.code.aon.ui.tas.servlet.TasItemLookupServlet</servlet-class>
	</servlet>
	
	<!-- Lookup Bean Servlet -->
	<servlet>
		<servlet-name>LookupBeanServlet</servlet-name>
		<servlet-class>com.code.aon.ui.form.lookup.LookupBeanServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ItemLookupServlet</servlet-name>
		<servlet-class>com.code.aon.ui.product.servlet.ItemLookupServlet</servlet-class>
		<init-param>
			<param-name>price-provider</param-name>
			<param-value>com.code.aon.gtm.util.ItemPriceProvider</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>ItemCreationLookupServlet</servlet-name>
		<servlet-class>com.code.aon.ui.product.servlet.ItemCreationLookupServlet</servlet-class>
		<init-param>
			<param-name>price-provider</param-name>
			<param-value>com.code.aon.gtm.util.ItemPriceProvider</param-value>
		</init-param>
	</servlet>
	
	<!-- Attachment Servlet -->
	<servlet>
		<servlet-name>CompanyLogo</servlet-name>
		<servlet-class>com.code.aon.ui.registry.servlet.CompanyLogoServlet</servlet-class>
		<init-param>
			<param-name>pojo</param-name>
			<param-value>com.code.aon.registry.RegistryAttachment</param-value>
		</init-param>
	</servlet>

  	<!-- extension mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.res</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jaas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>LookupServlet</servlet-name>
		<url-pattern>*.lookup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LookupBeanServlet</servlet-name>
		<url-pattern>*.lookupBean</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomerLookupServlet</servlet-name>
		<url-pattern>*.customerLookup</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TargetLookupServlet</servlet-name>
		<url-pattern>*.targetLookup</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TasItemLookupServlet</servlet-name>
		<url-pattern>*.tasItemLookup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SupplierLookupServlet</servlet-name>
		<url-pattern>*.supplierLookup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SupportOrderLookupServlet</servlet-name>
		<url-pattern>*.supportOrderLookup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ItemLookupServlet</servlet-name>
		<url-pattern>*.itemLookup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ItemCreationLookupServlet</servlet-name>
		<url-pattern>*.itemCreationLookup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CompanyLogo</servlet-name>
		<url-pattern>*.logo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hyperviewIcon</servlet-name>
		<servlet-class>com.code.aon.ui.hyperview.servlet.HyperViewIconServlet</servlet-class>
		<init-param>
			<param-name>image-path</param-name>
			<param-value>/images/hyperview/</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hyperviewIcon</servlet-name>
		<url-pattern>*.hyperviewIcon</url-pattern>
	</servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

	<!-- SECURITY
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>facelet</web-resource-name>
			<url-pattern>/facelet/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>jsp</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>actions</web-resource-name>
			<url-pattern>*.faces</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Administration</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login/login.jaas</form-login-page>
			<form-error-page>/login/login.jaas?error='true'</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>Administration</role-name>
	</security-role>
  -->
	<env-entry>
		<env-entry-name>ConsoleDAOFactoryClass</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>com.code.aon.bridge.jmx.mbean.core.TomcatConsoleAdminFactory</env-entry-value>
	</env-entry>

</web-app>